.rest-attributes {
	justify-content: flex-start;
 	flex-direction: row;
 		display:block;
}

.rest-secondary-attributes {
	display:block;
	display: flex;
 	flex-direction: row;
 	justify-content: flex-end;
 	padding-right: 5vw;
}

.rest-title {
	font-size: 20px;
}

.rest-stars {
	color: #aaa;
}

.rest-rating {
	color: rgb(255, 215, 0);
}

.rest-details {
	color: #aaa;
}
